.sol-select-area {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  position: relative;
  min-height: 38px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;

  transition: all .3s ease;
}

.sol-select-area:hover {
  border: 1px solid #B3B3B3;
}

.sol-select-area:hover .sol-select-icon {
  color: #B3B3B3;
}

.sol-select-area.disabled {
  background: #F2F2F2;
  border: 1px solid #E6E6E6;
}

.sol-select-area.focused {
  background: #FFFFFF;
  border: 1px solid #2684FF;
}

.sol-select-area.focused .sol-select-icon {
  color: #333;
}

.sol-select-area input {
  width: 100%;
  height: 100%;
  outline: none;
}

.sol-select-area input:disabled {
  background: inherit;
}

.sol-select-area input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.sol-select-content {
  padding: 2px 8px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;

  flex-wrap: wrap;
}

.sol-select-input {
  flex: 1;
}

.sol-select-indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 0;
  align-self: stretch;
}

.sol-select-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  position: relative;
  color: #ddd;

  transition: .3s ease all;
}

.sol-select-icon:hover {
  color: #333;
}

.sol-select-divider {
  height: calc(100% - 10px);
  width: 1px;
  background: #CCCCCC;
  margin: auto 0 auto 8px;
}

.sol-select-dropdown {
  display: flex;
  flex-direction: column;

  background: #FCFCFC;
  box-shadow: 0 0 8px rgba(34, 34, 34, 0.1);
  border-radius: 16px;
}

.sol-select-dropdown-options {
  overflow: hidden;
  overflow-y: auto;
  max-height: 220px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.sol-select-option {
  background: #FCFCFC;
  border-radius: 6px;
  width: 100%;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  transition: all .3s ease;
}

.sol-select-option:hover {
  cursor: pointer;
  background: #D6F0FF;
}

.sol-select-option:active {
  background: #A3DDFF;
}

.sol-select-option:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.sol-select-option.empty {
  justify-content: center;
  text-align: center;
  color: #999;
}

.sol-select-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;

  transition: .3s ease all;
}

.sol-select-reset:hover {
  color: #333;
}
